
.col {
    float: left;
    opacity: 0.8;
}
.game_field{
    min-width: 190px;
}
.td:hover{
    box-shadow: inset 0px 0px 10px 1px black;
    transition: box-shadow 0.4s;
}
.td{
    float: left;
    transition: box-shadow 0.4s;
    border: 1px solid black;
    padding: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.g {
    text-align: center;
    border: 1px solid #4547ff;
    border-radius: 3px;
    background: #e0e0e0;
}
p {
user-select: none;

}
#info {
    min-width: 130px;
}
span{

text-align: center;
border: 1px solid #4547ff;
border-radius: 3px;
background: #e0e0e0;
box-shadow: inset 0px 0px 10px -1px black;
cursor: pointer;

}
span:hover{
    transition: .1s;
    width: 245px;
background: #d9d9d9;
border: 1px solid #7f7cff;
box-shadow: inset 0px 0px 10px 0px black;
}